 <!DOCTYPE html>
<html>
<head>
	<title>Netaji Subhas Institute of Technology</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="header-navbar">
		<a class="navbar-brand" href="http://www.nsit.ac.in">
			<img src="https://upload.wikimedia.org/wikipedia/en/b/bc/Netaji_Subhas_Institute_of_Technology_%28emblem%29.jpg" width="50" height="50" alt="NSIT logo">
		</a>
	<div class="container-fluid navbar-personalised" >
		<div class="navbar-header header-header navbar-brand">	
			<a href="/events" id="customised">Netaji Subhas Institute of Technology</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right" >
				<% if(!currentUser){%>
				<li><a href="/login" id="customised">Login</a></li>
				<li><a href="/register" id="customised">Sign Up</a></li>
			<% 	}
				else{%>
				<li><a href="#" id="customised">Signed in as <%=currentUser.username.toUpperCase()%></a></li>
				<li><a href="/logout" id="customised">Logout</a></li>				
			<%  }%>
			
			</ul>
		
		</div>
	</div>
</nav>
<div class="container header-message">
	<% if(error && error.length>0){ %>
	<div class="alert alert-danger" role="alert">
	<%= error %>	
	</div>
	<% } 
	else if(success && success.length>0){ %>
	<div class="alert alert-success" role="alert">
	<%= success %>	
	</div>
	<% } %>
</div>
